@import "bootstrap-sprockets";
@import "bootstrap";


.container-fluid {
  background-color: rgb(45, 48, 44);
  .header-logo {
    color: white;
  }
}
.form_main_signin, #create_user_container, #signed_container {
	color: white;
}
.flash {
	margin: 2% 40%;
	width: 20%;
}