#all_tests_container.col-sm-7.col-md-7.col-lg-7
  %h3< Все вопросы
  %ul.list-group
    -@tests.each do |test|
      %li.list-group-item.list_questions.col-sm-11.col-md-11.col-lg-11
        =link_to(test.question, edit_test_path(test))
        =link_to(test_path(test), method: :delete) do
          %span.glyphicon.glyphicon-remove.list_remove_answer
  .row        
    .col-sm-2.col-md-2.col-lg-2.last-button.index
      =link_to("На главную", root_path, class: "btn btn-primary")